{% import "installServer.sh" as installServer with context %}
{% import "configureServer.sh" as configureServer with context %}
{% import "installSyncGateway.sh" as installSyncGateway with context %}
{% import "configureSyncGateway.sh" as configureSyncGateway with context %}

{% set project = env["project"] %}
{% set deployment = env["deployment"] %}
{% set name = "%s-vm-tmpl" % env["name"] %}
{% set instanceName = "%s-vm" % deployment %}
{% set zone = properties["zone"] %}
{% set machineType = properties["machineType"] %}
{% set subnetwork = properties["subnetwork"] %}
{% set bootDiskType = properties["bootDiskType"] %}
{% set bootDiskSizeGb = properties["bootDiskSizeGb"] %}
{% set hasExternalIP = properties["externalIP"] != "None" %}
{# Software status only works if the VM has an external IP. #}
{% set enableStatusWaiter = hasExternalIP %}

resources:
- name: deployment
  type: deployment.py
  properties:
    couchbaseUsername: couchbase
    couchbasePassword: foo123!
    clusters:
      - cluster: cluster1
        region: us-east1
        groups:
          - group: server
            diskSize: 100
            nodeCount: 5
            nodeType: n1-standard-4
            services:
              - data
              - query
              - index
              - fts

outputs:
  - name: deployment
    value: {{ deployment }}
  - name: project
    value: {{ project }}
